<%= javascript_include_tag :graph_color_picker %>
<%= stylesheet_link_tag :graph_color_picker %>
<h1>Editing graph</h1>

<% form_for(@graph) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :color %><br />
    <%= f.text_field :color %>
    <div id="picker">
    </div>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @graph %> |
<%= link_to 'Back', graphs_path %>
